h2 {
  color: #c4c9d1;
  font-size: 1.5rem;
}

.category-input {
  bottom: 0;
  height: auto;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 10px;
  z-index: 1;
  min-height: rem-calc(50px);
}
