@import 'variables';
@import "bootstrap";
@import "bootstrap-custom";
@import "form";
@import 'typography';
@import 'nav';

h1, h2, h3, h4, h5, button, .btn, p, table {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  margin-bottom: 2rem;
  color: $brand-primary;
}

body {
  background: #f8f8f8;
}

tr.total-row {
  border-top: 2px solid $brand-primary;
  font-weight: bold;
  td {
    background-color: white;
  }
}

.form-group, .actions {
  ol {
    padding-left: 0;

    li {
      float: left;
      margin-right: 0.5rem;
    }
  }
}

.alert {
  background-color: #ffd3d3;
  border: 1px solid #8c0000;
}

@import 'charges';
