<h1>Report: <%= @year %></h1>
<table class="table table-striped">
  <thead>
    <% @charge_set.categories.each do |category| %>
      <th><%= category.name %></th>
    <% end %>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <%= @charge_set.by_category.each do |ch
  </tbody>
</table>

