<h1>Import New Charges</h1>
  <%= form_tag({action: :import}, multipart: true) do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Import', class: 'd-block btn btn-primary charges-import' %>
  <% end %>
